body{
    background-image: url(..//image/9-paper-sheet-png-image.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.jumbotron{
    color: whitesmoke;
    background-color: transparent;
       
}

p#form{
    font-weight: bold;
    text-emphasis-color:black;
}