body{
    background-image: url(..//image/9-paper-sheet-png-image.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.jumbotron{
    color: whitesmoke;
    background-color: transparent;
       
}
p#form{
    font-weight: bold;
    text-emphasis-color:black;
}
.label{

    position: absolute;
    left: 20px;
}
@media screen and (min-width: 480px) and (max-width: 1646px){
    .jumbotron{
        color: black;
    }
}